{% extends "base.html" %}

{% block content %}
  <h3 style="margin-top: 30px;"> Demographic vs Psychographic information:</h3>
    <table id="customers">
        <tr>
          <th> Demographic Information </th>
          <th> Psychographic Information </th>
        </tr>
        <tr> 
          <td> 
            Username: {{session['username']}} 
          </td>
          <td>
            Most Visited Day: {{session["habits"]["max_day"]}} 
          </td>
        </tr>
        <tr> 
          <td> 
            Gender: {{session['gender'] }}
          </td>
          <td>
            Most Visited Hour: 
            {% if session["habits"]["max_hour"] > 12 %} 
              {{session["habits"]["max_hour"]|int - 12}} pm 
            {% else %}
              {{session["habits"]["max_hour"]}} am
            {% endif %}
          </td>
        </tr>
        <tr> 
          <td> 
            Occupation: {{session['occupation']}}
          </td>
          <td>
            Least Visited Day: {{session["habits"]["min_day"]}}
          </td>
        </tr>
        <tr> 
          <td> 
            Marital Status: {{session['maritalStatus']}}
          </td>
          <td>
            Least Visited Hour:
            {% if session["habits"]["min_hour"]|int > 12 %} 
              {{session["habits"]["min_hour"]|int - 12}} pm 
            {% else %}
              {{session["habits"]["min_hour"]}} am
            {% endif %}
          </td>
        </tr>
        <tr> 
          <td>
            Interests given at signup: [ {{session['interests1']}}, {{session['interests2']}}, {{session['interests3']}} ]
            
          </td>
          <td>
            Interests suggested by Bob:  {{session["interests"]}} 
          </td>
        </tr>
      </table>
{% endblock %}